---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/blog/Hero.astro";
import Tags from "../../components/blog/Tags.astro";
import ListPosts from "../../components/blog/ListPosts.astro";
const pageTitle = "YaCo | Blog";
const description =
  "欢迎来到我的博客，在这里分享我在这个世界的探索，以及crypto&AI的相关实践";
const ogimage = {
  url: "/images/blog.png",
  alt: "YaCo's Blog logo",
};
---

<Layout pageTitle={pageTitle} description={description} ogimage={ogimage}>
  <Hero />
  <Tags />
  <div class="px-8 max-sm:px-4">
    <ListPosts />
  </div>
</Layout>
