---
import ExperienceItem from "./ExperienceItem.astro";
// 工作经验数据
const EXPERIENCE = [
  {
    date: "2025.02 - 至今",
    title: "Crypto & AI 开发者 / 社区探索者",
    company: "Hyperlane中文社区",
    description:
      "参与创建和管理Hyperlane中文社区，负责技术文档翻译、技术文章撰写和开发者支持。同时积极学习 Crypto 项目开发，包括稳定币实践、NFT项目和去中心化应用等。通过开源贡献和社区建设，推动区块链技术的本地化发展。",
  },
  {
    date: "2023.06 - 2024.07",
    title: "C++研发工程师",
    company: "丕锐科技",
    description:
      "负责智能座舱软件开发，主要参与车载地图项目和Carplay协议开发。设计并开发数据引擎缓存模块，实现客户端下载功能，开发Tile分级DAO查询模块。同时负责Carplay视频流协议层传输实现和Location定位协议传输功能开发。",
  },
];
---

<!-- 工作经验展示部分 -->
<div class="relative max-md:mt-0 mt-8" aria-label="职业经历">
  <ol class="relative mt-10">
    {
      EXPERIENCE.map((experience, index) => (
        <li class="">
          <article role="article" aria-labelledby={`experience-title-${index}`}>
            <div
              class="flex flex-col gap-2 text-zinc-00 dark:text-zinc-300 md:col-span-3"
              aria-describedby={`experience-title-${index}`}
            >
              <ExperienceItem {...experience} />
            </div>
          </article>
        </li>
      ))
    }
  </ol>
</div>
